.heading {
  --fs-h1: 1.5rem;

  font-weight: bold;
}

h1.heading {
  color: #333;
  font-size: var(--fs-h1);
}

.heading span {
  color: rgba(38, 116, 180, 0.87);
}

@media (min-width: 900px) {
  .heading {
    --fs-h1: 3rem;
  }
}
